/* CSS Document */
@import url("banner.css");

body{
	font: Arial, Helvetica, sans-serif;
}
.top-bar{
    z-index: 1001;
    background: rgb(30, 41, 58);
	color: #fff;
	padding: 8px 0px;
}


.top-bar a i{
	color: #fff;
	margin-right: 10px;
	font-size: 20px;

}

.top-bar a i:hover{
	color: rgb(228,1,46);

}
.top-bar p a{
	text-decoration: none;
}

.top-bar p, .top-bar p a{
	font-size: 12px;
	margin: 0px;
	color: #acacac;
}
.top-bar p{
	margin-top: 2px;
	margin-right: 40px;
}
.top-bar p i{
	color: #fff;
	margin-right: 5px;
}


/*  Header CSS starts here */

.header{
	/*background-color: #0F0;*/
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.header .toffee{
	padding: 20px 0px;
}
.navbar-nav>li>a {
	font-weight: normal;
    font-style: normal;
    text-decoration: none;
    margin-top: -1px;
    line-height: 1.2;
    text-align: center;
    font-size: 14px;
    color: #1e283a;
    letter-spacing: 0px;
    padding-top: 10 px;
    padding-bottom: 13px;
	padding-left: 25px;
	padding-right: 25px;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus{
    color: #fff !important;
    background-color: rgb(228,1,46) !important;
}

.header .toffee  nav .mjs-menu-delimiter{
    width: 1px;
    height: 40px;
    vertical-align: middle;
    background: url(../_img/dilimiter.png) center center no-repeat;
}


.dropdown-menu {
    background-color: rgb(30, 41, 58);
}
.dropdown-menu>li>a {
	padding: 10px 0px; 
	text-align: center;
	color: #fff;
}
.dropdown-menu>li>a:hover {
	font-weight: bold;
	color: #fff;
	background-color: rgb(228,1,46);
}